		#spinner {
			-webkit-transform-style:preserve-3d;	
			-webkit-transform:rotateX(50deg) rotateZ(0deg);		
		}

		.wateredge ~ .elevation path{
			fill:#DDD9Ca;
		}
		.elevation {
			position:absolute;
			width:100%;
			pointer-events:none;
			transition:opacity 2s;
			-webkit-transform-style:preserve-3d;
			-webkit-backface-visibility: hidden;
		}
		.elevation path,
		.elevation polygon {
			fill-opacity:0.05;
			stroke:white;
			stroke-width:0px;
			transition:fill 1s, fill-opacity 1s;
			fill:#ada99a;		
		}

		.peaks{
			fill-opacity:0.25;
		}

		body {
			background:#61788C;
			overflow:hidden;
			font-family: 'Open Sans', Verdana, sans-serif;
			cursor:arrow;
		}
		
		#water {
			position:absolute; 
			width:500%; 
			height:2000px; 
			background:#61788C;
			transition:all 2s;
			opacity:0;
			margin-left:-150%;
			-webkit-transform-origin: 40% 60%;
			-webkit-backface-visibility:visible;
			-webkit-transform:rotateX(80deg);
		}
		.scene {
			transition:all 1s;			
			width:100%;
			height:200%;
			float:left;
			margin-top:-40%;
			margin-left:-20%;
		}

		#threedee {
			cursor:-webkit-grab;
			-webkit-transform-style:preserve-3d;
			-webkit-perspective:1600px;
		}

		#threedee:active {
			cursor:-webkit-grabbing;
		}

		#threedee .elevation {
			-webkit-transform:rotateX(0deg);
		}

		#twodee .elevation {
			-webkit-transform:scale(1);
			transition:all 0.5s
		}

		.wateredge path,
		.wateredge polygon {
			fill-opacity:1;
			stroke-width:0.25px;
			stroke-opacity:0;
			transition:fill-opacity 1s;
		}


		/* Vertical centering scheme */

		.centeringparent {
			display:table; 
			height:100%;
		}

		.centeringmiddle{
			display:table-cell;
			vertical-align:middle;
		}

		.centeringchild{

		}

		#compass {
			position:fixed; 
			bottom:0px; 
			left:0px; 
			-webkit-perspective:1600px;
			opacity:0.5;
			padding:20px;
		}

		#sidebar {
			right:0px;
			top:0px;
			height:100%;
			background:#eee;
			position:absolute;
			width:200px;
			z-index:2;
			cursor:arrow;
		}

		.range {
			-webkit-appearance: none;
			background-color: #61788C;
			height: 10px;
			border-radius: 25px;
			outline: none;
			width:200px;
			-webkit-transform: rotate(-90deg);
			margin-top:100px;

		}

		.range::-webkit-slider-thumb {
			-webkit-appearance: none;	
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: #fff;
			border: 5px solid #61788C;
			}		

		#antarctica {
			height:200px;
			background:#61788C;
		}

		.metertext {
			text-align: center;
			margin:10px 0px;
			color:#999;
			font-weight:bold;
		}

		#labels{
			pointer-events:none;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		#vertrotator {
			display:block;
			width:100%;
			margin:0 auto;
			padding-bottom:50%;
			-webkit-transform-style:preserve-3d;
			-webkit-backface-visibility: hidden;
			opacity:0.7;
			-webkit-transform:translateZ(200px);
		}
		.placelabel{
			-webkit-transform:rotateX(-90deg);
			-webkit-filter:blur(0px);
			position:absolute;
			text-align:center;
			z-index:1;
			-webkit-transform-origin:50% 0%;
			padding-top:120px;
			opacity:0;
			-webkit-transition:padding-top 0.1s ease-out, opacity 0.5s ease-out;
		}
		.labeltext {
			color:white; 
			background:#333; 
			padding:5px 8px;
			border-radius:2px;
			font-size:0.6em;
		}

		.labelline {
			width:0px;
			height:180px; 
			border-left:1.5px solid #333; 
			margin:0 auto;
			-webkit-transform-origin:50% 0%;
		}

		.visible {
			padding-top:60px;
			opacity:1;
		}

		#iamhere {
			-webkit-transform:rotateX(-90deg);
			padding-top:0px;
			opacity:1;
		}
@media only screen and (min-width:1800px) {

	.labeltext{
		font-size:1em;
	}
}